@charset "UTF-8";
/*
* style.css
*/
/*
 * foundation/_reset.css
 */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  box-sizing: border-box; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
* foundation/_base.scss
*/
html, body {
  width: 100%;
  color: #3B4043;
  font-size: 16px;
  line-height: 1.6;
  font-family: "Noto Sans JP", 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  text-size-adjust: 100%;
  letter-spacing: 0.1em; }

p, a {
  -webkit-font-smoothing: antialiased; }

a {
  display: block;
  color: #3B4043;
  text-decoration: none;
  transition: .3s; }

a:hover {
  color: #FFCE8C;
  transition: .3s; }

img {
  width: 100%;
  vertical-align: bottom; }

/*
* layout/_container.scss
*/
.l-container {
  position: relative;
  margin: 0 auto;
  padding: 80px 120px;
  width: 980px;
  text-align: center; }
  @media screen and (max-width: 896px) {
    .l-container {
      width: 100%;
      padding: 40px 120px; } }
  .l-container__fluid {
    width: 100%; }
  @media screen and (max-width: 896px) {
    .l-container__body {
      margin-right: 20px;
      margin-left: 20px; } }

/*
* layout/_header.scss
*/
.l-header {
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 70px;
  transition: .3s;
  z-index: 2; }
  @media screen and (max-width: 896px) {
    .l-header {
      padding: 0 20px; } }

/*
* layout/_works.scss
*/
#works {
  background-image: url(../img/bg-sub.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: lighten;
  box-shadow: 0px 0px 4px 2px #ddd inset; }

/*
* layout/_contact.scss
*/
#contact {
  background-color: #fff; }

/*
* layout/_footer.scss
*/
.l-footer {
  height: 70px;
  line-height: 70px;
  text-align: center; }

/*
* object/component/_title.scss
*/
.c-title {
  display: inline-block;
  margin: 20px 0 60px;
  border-bottom: 5px solid #C08B63;
  font-size: 36px;
  font-weight: 700;
  text-align: center; }
  @media screen and (max-width: 896px) {
    .c-title {
      margin: 15px 0 60px; } }

/*
* object/component/_arrow.scss
*/
.c-arrow {
  position: absolute;
  top: 50%;
  width: 50px;
  cursor: pointer;
  z-index: 1; }

/*
* object/project/_header.scss
*/
.p-header__title {
  font-size: 38px;
  font-family: "Segoe Print";
  font-weight: 700; }
  @media screen and (max-width: 896px) {
    .p-header__title {
      font-size: 24px; } }

/*
* object/project/_menu.scss
*/
@media screen and (max-width: 896px) {
  .p-menu {
    display: block;
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    padding-top: 80px;
    background: rgba(255, 255, 255, 0.85);
    transition: .5s;
    text-align: center; }
    .p-menu.active {
      transform: translateX(-100%);
      z-index: 3; } }

.p-menu__list {
  display: flex;
  font-weight: 700; }
  @media screen and (max-width: 896px) {
    .p-menu__list {
      display: block;
      font-size: 36px; } }

.p-menu__item {
  margin-right: 40px; }
  .p-menu__item:last-of-type {
    margin-right: 0; }
  @media screen and (max-width: 896px) {
    .p-menu__item {
      margin-right: 0;
      margin-bottom: 20px; } }

.p-menu__link:hover {
  transform: scale(1.2); }

.p-menu__trigger {
  display: none;
  transition: all .4s;
  position: relative;
  width: 40px;
  height: 32px;
  z-index: 4; }
  @media screen and (max-width: 896px) {
    .p-menu__trigger {
      display: inline-block; } }
  .p-menu__trigger span {
    display: inline-block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #3B4043;
    border-radius: 4px;
    transition: all .3s; }
    .p-menu__trigger span:nth-last-of-type(1) {
      top: 0; }
    .p-menu__trigger span:nth-last-of-type(2) {
      top: 14px; }
    .p-menu__trigger span:nth-last-of-type(3) {
      bottom: 0; }
  .p-menu__trigger.active span:nth-last-of-type(1) {
    transform: translateY(12px) rotate(-45deg); }
  .p-menu__trigger.active span:nth-last-of-type(2) {
    opacity: 0; }
  .p-menu__trigger.active span:nth-last-of-type(3) {
    transform: translateY(-15px) rotate(45deg); }

/*
* object/project/_hero.scss
*/
.p-hero {
  justify-content: center;
  padding-top: 200px;
  height: 700px;
  text-align: center; }
  .p-hero::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 700px;
    background-image: url(../img/bg-hero_ver2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #333;
    z-index: -1; }
  .p-hero__title {
    color: #F2F2F2;
    letter-spacing: 0.5em;
    font-family: "Segoe Print";
    font-weight: 700;
    font-size: 38px; }

/*
* object/project/_profile.scss
*/
.p-profile__group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
  text-align: left;
  color: #F2F2F2; }
  @media screen and (max-width: 896px) {
    .p-profile__group {
      flex-direction: column; } }

.p-profile__img {
  margin: 0 15px;
  padding: 20px;
  width: 30%; }
  @media screen and (max-width: 896px) {
    .p-profile__img {
      padding: 0;
      width: 30%; } }

.p-profile__explain {
  padding: 0 20px;
  width: 70%; }

.p-profile__name {
  font-size: 36px;
  font-weight: 700; }
  @media screen and (max-width: 896px) {
    .p-profile__name {
      font-size: 30px; } }

.p-profile__item:first-of-type {
  margin-bottom: 20px;
  font-weight: 700; }

@media screen and (max-width: 896px) {
  .p-profile__item {
    font-size: 14px; } }

/*
* object/project/_skill.scss
*/
.p-skill__group {
  flex-wrap: wrap;
  margin-right: -30px; }
  @media screen and (max-width: 896px) {
    .p-skill__group {
      margin-right: -20px; } }
  @media screen and (max-width: 480px) {
    .p-skill__group {
      margin-right: 0; } }

.p-skill__card {
  margin-right: 40px;
  margin-bottom: 30px;
  width: calc(33.3% - 40px);
  background-color: #fff;
  border-radius: 5px;
  opacity: 0.1;
  transform: translateY(-80px);
  transition: 1s; }
  .p-skill__card.fadeIn {
    opacity: 1;
    transform: translateY(0); }
  .p-skill__card--padding {
    padding: 20px 40px; }
  @media screen and (max-width: 896px) {
    .p-skill__card {
      margin-right: 20px;
      width: calc(50% - 20px); } }
  @media screen and (max-width: 480px) {
    .p-skill__card {
      width: 100%; } }

.p-skill__head {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 700; }

.p-skill__tec {
  margin-bottom: 40px; }

.p-skill__item {
  margin-bottom: 20px;
  align-items: center; }

.p-skill__mark {
  flex-basis: 30%; }

.p-skill__name {
  text-align: center;
  flex-grow: 1; }

.p-skill__space {
  height: 67.9px; }

.p-skill__body {
  text-align: left;
  font-size: 14px; }

/*
* object/project/_slider.scss
*/
.p-slider {
  margin: 0 auto;
  width: 100%; }
  .p-slider__container {
    position: relative;
    flex-flow: row nowrap; }
  .p-slider__item {
    width: 100%; }
  .p-slider__body {
    padding: 20px;
    background-color: #EBD6BF;
    text-align: left; }
    .p-slider__body p {
      padding-bottom: 10px;
      font-size: 12px; }
      .p-slider__body p:first-of-type {
        margin-top: 10px; }
  .p-slider__name {
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 700; }
  .p-slider__link {
    display: inline-block;
    font-size: 12px;
    color: #165BA5; }
  .p-slider__sub-name {
    font-size: 14px;
    text-decoration: underline; }

.slide-arrow {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  width: 40px;
  height: 40px;
  cursor: pointer; }

.prev-arrow {
  left: -40px; }

.next-arrow {
  right: -40px; }

.slick-dots li button:before {
  top: 20px !important;
  font-size: 30px !important; }

/*
* object/project/_contact.scss
*/
.p-contact__icn {
  display: block;
  margin: 0 auto 20px;
  width: 80px;
  height: 80px;
  transition: all .3s ease; }
  .p-contact__icn:hover {
    animation: roll 1s forwards; }

@keyframes roll {
  from {
    transform: rotate(0deg) scale(1); }
  to {
    transform: rotate(-360deg) scale(1.2); } }

/*
* object/utility/_color.scss
*/
.u-color-w {
  color: #F2F2F2; }

.u-color-bg {
  background-color: #F2EDE9;
  box-shadow: 0px 0px 8px 2px #ddd inset; }

/*
* object/utility/_display.scss
*/
.u-flex {
  display: flex; }

/*
* object/utility/_space.scss
*/
.u-px0 {
  padding-right: 0;
  padding-left: 0; }

.u-mr40 {
  margin: 0 20px; }

/*
* object/utility/_position.scss
*/
.u-next {
  right: 0; }
  @media screen and (max-width: 896px) {
    .u-next {
      right: 20px; } }

.u-prev {
  left: 0; }
  @media screen and (max-width: 896px) {
    .u-prev {
      left: 20px; } }
