@charset "utf-8";
/*
* object/component/_title.scss
*/
.c-title{
  display: inline-block;
  margin: $space_xl 0 $space_4l;
  border-bottom: 5px solid $color_bar;
  font-size: $font-size_3l;
  font-weight: 700;
  text-align: center;
  @include mq(md){
    margin: $space_l 0 $space_4l;
  }
  @include mq(sm){
    margin: $space_l 0 $space_xxl;
    font-size: $font-size_xxl;
  }
}