@charset "utf-8";
/*
* object/utility/_space.scss
*/
.u-pbxl{
  @include mq(md){
    padding-bottom: 40px;
  }
}
.u-px0{
  padding-right: 0;
  padding-left: 0;
}
.u-mxl{
  margin: 0 40px;
  @include mq(md){
    margin: 0 20px;
  }
}