@charset "utf-8";
/*
* object/project/_slider.scss
*/
.p-slider{
  margin-left: calc(#{$space_3l / 2});
  width: 100%;
  flex-flow: row nowrap;
  overflow: hidden;
  &__item{
    position: relative;
    margin-right: $space_3l;
    min-width: calc(50% - #{$space_3l});
    // min-height: 600px;
    &::before{
      content: '';
      display: block;
      padding-top: 140%;
    }
  }
  &__img{
    position: absolute;
    top: 0;
    display: block;
    width: 80%;
    z-index: 2;
  }
  &__body{
    position: absolute;
    top: 30%;
    right: 0;
    margin-right: $space_xl;
    padding: 42% $space_xl $space_xl;
    width: 80%;
    text-align: left;
    background-color: #EBD6BF;
    z-index: 1;
    p{
      padding-bottom: $space_s;
      font-size: $font-size_s;
    }
  }
  &__name{
    margin-right: $space_xl;
    font-size: $font-size_l;
    font-weight: 700;
  }
  &__link{
    font-size: $font-size_s;
    color: $font-color_sub2;
  }
  &__sub-name{
    text-decoration: underline;
  }
}