@charset "utf-8";
/*
* object/project/_slider.scss
*/
.p-slider{
  margin-left: calc(#{$space_3l / 2});
  width: 100%;
  flex-flow: row nowrap;
  overflow: hidden;
  &__item{
    margin-right: $space_3l;
    min-width: calc(50% - #{$space_3l});
  }
  &__img{
    display: block;
  }
  &__body{
    padding: $space_xl;
    background-color: #EBD6BF;
    text-align: left;
    p{
      padding-bottom: $space_m;
      font-size: $font-size_s;
      &:first-of-type{
        margin-top: $space_m;
      }
    }
  }
  &__name{
    margin-right: $space_xl;
    font-size: $font-size_l;
    font-weight: 700;
  }
  &__link{
    font-size: $font-size_s;
    color: $font-color_sub2;
  }
  &__sub-name{
    font-size: $font-size_m;
    text-decoration: underline;
  }
}