@charset "utf-8";
/*
* layout/_footer.scss
*/
.l-footer{
  padding: 0 $space_xl;
  height: 70px;
  align-items: center;
  justify-content: center;
  br {
    display: none;
    @include mq() {
      display: block;
    }
  }
}